body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color:#ffffff;

  background-color: #97aca1;
}

a {
  text-decoration: none;
}

.main-menu {
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}
.main-menu,
.main-menu__site-navigation,
.main-menu__user-navigation,
.main-menu__site-navigation__item__sub-menu {
  list-style: none;
}

.main-menu__site-navigation__item__link,
.modal__sign-in__link,
.main-menu__user-navigation__link,
.main-menu__site-navigation__item__sub-menu__link {
  color: #ffffff;
}

.main-menu__site-navigation__item__link--selected,
.main-menu__site-navigation__item__sub-menu__link--bold {
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.main-menu__site-navigation__item__sub-menu__link {
  font-weight: 400;
}

.main-menu__site-navigation__item__link:hover,
.main-menu__site-navigation__item__link:focus {
  color: #333333;

  background-color:   #f8f7f4;
}

.main-menu__site-navigation__item__link--selected:active {
  color: #333333;

  background-color:  #f8f7f4;

  box-shadow: inset 0 2px 1px #696969;
}

.main-menu__site-navigation__item__link--selected,
.main-menu__site-navigation__item__link--active {
  color: #ffffff;

  background-color: #d07058;
}

.main-menu__site-navigation__item__sub-menu__link:hover,
.main-menu__site-navigation__item__sub-menu__link:focus {
  background-color: #fbded7;
}

.main-menu__site-navigation__item__sub-menu__link:active {
  background-color: #f6b5a5;
}

.main-menu__user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.main-menu__user-navigation__header-search__link,
.main-menu__user-navigation__header-sign-in__link,
.main-menu__user-navigation__header-cart__link {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.main-menu__user-navigation__header-search__link:hover,
.main-menu__user-navigation__header-sign-in__link:hover,
.main-menu__user-navigation__header-cart__link:hover {
  color: #000000;

  background-color: #f8f7f4;
}

.main-menu__user-navigation__header-cart--two-goods,
.main-menu__user-navigation__header-cart__link--two-goods {
  font-size: 13px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
}

.modal-cart__sum {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.modal-cart__price-count {
  color: #999999;
}

.working-hours {
  font-size: 14px;
  line-height: 16px;
}

.contact-info a {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.inner-page__breadcrumbs__link {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.inner-page__breadcrumbs__link:hover,
.inner-page__breadcrumbs__link:focus,
.inner-page__breadcrumbs__link:active {
  color: #e84d37;

  border-bottom-color: rgba(232, 77, 55, 0.3);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.inner-page__header {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.inner-page__choice-form {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.inner-page__choice-form__label {
  font-size: 16px;
  line-height: 18px;
}

.inner-page__choice-form-item__price-range:hover {
  cursor: pointer;
}

.inner-page__choice-form__select {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.inner-page__choice-form__select:hover {
  color: #323232;

  background-color: rgba(255, 255, 255, 0.2);
}

.inner-page__choice-form__radio,
.inner-page__choice-form__checkbox {
  opacity: 0.8;
}

.inner-page__choice-form__radio:hover,
.inner-page__choice-form__checkbox:hover,
.inner-page__choice-form__radio:focus,
.inner-page__choice-form__checkbox:focus {
  opacity: 1;
}

.inner-page__choice-form__radio:disabled,
.inner-page__choice-form__checkbox:disabled {
  opacity: 0.4;
}

.inner-page__choice-form__sort-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);

  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}

.inner-page__choice-form__sort-button:hover,
.inner-page__choice-form__sort-button:focus {
  color: #323232;

  background-color: #ffffff;

  border:none;
}

.inner-page__choice-form__sort-button:active {
  color: #323232;

  background-color: #ededed;

  border:none;
  box-shadow: inset 0 2px 1px #696969;
}

.slider__controls {
  font-size: 60px;
  line-height: 60,35px;
  text-align: center;
}

.slider__button {
  font-size: 32px;
  line-height: 44px;
}

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  background:linear-gradient(to top, #e74a35, #f26843);
}

/*.button:hover {
  *наложение цвета*
 }*/

.button:active {
  background:linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 2px 2px #942718;
}
.promo__item {
  max-width: 560px;
  min-height: 229px;

  color: #ffffff;

  background-color: #000000;

}

.promo__item {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.promo__item--bold {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promo__item__raspberry {
  background-image: url(../img/layer_raspberry.jpg);
  background-position: top center;
  background-repeat: repeat;
}

.promo__item__chocolate {
  background-image: url(../img/layer_chocolate.jpg);
  background-position: top center;
  background-repeat: repeat;
}

.hits-item {
  color: #ffffff;
}

.inner-page__catalog-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.hits-item__price,
.inner-page__catalog-item__price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item-description {
  font-weight: 500;
  text-align: center;
}

.features {
  color:  #000000;

  background-color:#f1e6d1;
  background-image: url(../img/layer_waffle.jpg);
  background-repeat: repeat;
  background-position: 0 0;
}

.features--bold {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.news-in-blog {
  min-height: 220px;
  max-width: 560px;

  font-weight: 500;
  color:  #000000;

  background-color:#ffffff;
  background-image: url(../img/layer_strawberry.jpg);
  background-repeat: no-repeat;
  background-position: 15% 40%; /*не двигается изображение??*/
}

.news-in-blog__blog-preview {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  border-bottom-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.news-in-blog__blog-preview:hover,
.news-in-blog__blog-preview:focus,
.news-in-blog__blog-preview:active {
  color: #e84d37;

  border-bottom-color: rgba(232, 77, 55, 0.3);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.subscription-box {
  min-height: 220px;
  max-width: 560px;
  padding: 5px;

  background-image: repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
}

.subscription-box__wrapper  {
  min-height: 210px;
  max-width: 550px;

  color:  #5a5a5a;

  background-color:#f8f7f4;
}

.input__text {
  font-family: inherit;
  font-weight: 700;
  line-height: 24px;
  color: #323232; /*введенный текст почему-то нежирный*/

  border:1px solid rgba(178, 178, 178, 0.52);
}

.input__text::-webkit-input-placeholder {
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.input__text:hover {
  border:2px solid rgba(154, 154, 154, 0.52);
}

.input__text:focus {
  border:2px solid rgba(46, 136, 228, 0.52);
}

.adress-and-feedback {
  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #ffffff
}
.adress-and-feedback--big {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;

}

.main-footer__social,
.main-footer__menu,
.inner-page__paginator {
  list-style: none;
}

.main-footer__social__button {
  color: #ffffff;
}

.main-footer__menu {
  text-align: center;
}

.main-footer__menu__link {
  font-size: 13px;
  line-height: 18px;
}

.main-footer__menu__link,
.main-footer__button {
  color: #ffffff;

  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.main-footer__menu__item--bold {
  font-weight: 700;
}

.main-footer__copyright {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
  text-align: right;
}

.main-footer__menu__item:hover,
.main-footer__menu__item:focus,
.main-footer__button:hover,
.main-footer__button:active,
.main-footer__button:focus {
  color: #e84d37;

  border-bottom-color: rgba(232, 77, 55, 0.3);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.modal__feedback--bold {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal__sign-in {
  font-size: 13px;
  line-height: 24px;
}

.inner-page__paginator__link {
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.inner-page__paginator__link:hover,
.inner-page__paginator__link:focus {
  cursor: pointer;

  background-color: rgba(255, 255, 255, 0.2);
 }

.inner-page__paginator__link--current {
  color: #000000;

  background-color: #ffffff;
}

.inner-page__paginator__link--disabled {
  opacity: 0.2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

