body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: Roboto, Arial, sans-serif;
  color: #ffffff;

  background-color: #97aca1;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.modal,
.main-menu__site-navigation__item__sub-menu,
.mask,
.modal__feedback {
  display: none;
}

.modal {
  border-radius: 6px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.main-header-logo {
  margin-right: 8px;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 9px;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

.main-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 986px;
  margin-top: 15px;
  margin-bottom: 23px;

  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
}

.main-menu__site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 377px;
}

.main-menu__user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 269px;
  margin-top: 15px;
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.main-menu__site-navigation,
.main-menu__user-navigation,
.main-menu__site-navigation__item__sub-menu {
  margin: 0;
  padding: 0;
}

.contact-info {
  text-align: right;
}

.main-menu,
.main-menu__site-navigation,
.main-menu__user-navigation,
.main-menu__site-navigation__item__sub-menu {
  z-index: 4;

  list-style: none;
}

.main-menu__site-navigation__item__link,
.modal__sign-in__link,
.main-menu__site-navigation__item__link--active {
  color: #ffffff;
}

.main-menu__site-navigation__item__link {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
.main-menu__site-navigation__item:hover .main-menu__site-navigation__item__link--active {
  color: #333333;
}
.main-menu__site-navigation__item:hover,
.main-menu__site-navigation__item:focus {
  padding: 8px 13px;

  color: #333333;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.main-menu__site-navigation__item:hover .main-menu__site-navigation__item__link,
.main-menu__site-navigation__item:focus .main-menu__site-navigation__item__link {
  padding-bottom: 15px;

  color: #333333;

  border: none;
}

.main-menu__site-navigation__item,
.main-menu__site-navigation__item--active {
  padding:8px 13px;
}

.main-menu__site-navigation__item:active,
.main-menu__site-navigation__item--selected:active {
  color: #333333;

  background-color: #f8f7f4;
  -webkit-box-shadow: inset 0 2px 1px #696969;
          box-shadow: inset 0 2px 1px #696969;
}

.main-menu__site-navigation__item--active {
  position: relative;

  padding: 8px 13px;

  background-color: #d07058;
  border: none;
  border-radius: 15px;
}

.main-menu__site-navigation__item__link--selected {
  border: none;
}

.main-menu__site-navigation__item--opened {
  position: relative;
}

.main-menu__site-navigation__item--opened:hover .main-menu__site-navigation__item__sub-menu {
  position: absolute;
  top: 36px;
  left: -4px;

  display: block;
  width: 143px;
  overflow: hidden;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.main-menu__site-navigation__item__sub-menu__link {
  display: block;
  padding: 4px 20px;

  color: #000000;
}

.main-menu__site-navigation__item__sub-menu li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  padding-bottom: 7px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.main-menu__site-navigation__item__sub-menu li:first-child {
  position: relative;
  padding-top: 7px;
}

.main-menu__site-navigation__item__sub-menu li:nth-of-type(2) {
  padding-top: 7px;
}

.main-menu__site-navigation__item__sub-menu li:last-of-type {
  padding-bottom: 9px;
}

.main-menu__site-navigation__item__sub-menu li:first-child::after {
  content: "";
  position: absolute;
  top: 38px;
  left: 5%;

  width: 90%;
  height: 1px;

  background-color: rgba(0, 0, 0, 0.2);
}

.main-menu__site-navigation__item__sub-menu__link--bold {
  font-weight: 700;
}

.main-menu__site-navigation__item__sub-menu li:hover,
.main-menu__site-navigation__item__sub-menu li:focus {
  background-color: #fbded7;
}

.main-menu__site-navigation__item__sub-menu li:active {
  background-color: #f6b5a5;
}

.main-menu__user-navigation__header-sign-in__link,
.main-menu__user-navigation__header-cart__link {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.main-menu__user-navigation__header-sign-in__link {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 42px;

  color: #ffffff;

  border-radius: 16px;
}

.main-menu__user-navigation__header-cart__link {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 8px;
  padding-right: 36px;
  padding-bottom: 6px;
  padding-left: 45px;

  color: #ffffff;

  border-radius: 16px;
}

.main-menu__user-navigation__header-cart__link::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 17px;

  display: block;
  width: 21px;
  height: 20px;

  background: url(../img/basket.svg) no-repeat;
}

.main-menu__user-navigation__header-sign-in__link:hover,
.main-menu__user-navigation__header-sign-in__link:focus {
  color: #000000;

  background-color: #f8f7f4;
}

.main-menu__user-navigation__header-search:hover,
.main-menu__user-navigation__header-search:focus {
  color: #000000;

  background-color: #f8f7f4;
}

/* Через инлайновое svg */
.main-menu__user-navigation__header-search {
  width: 32px;
  height: 32px;


  margin-left: 4px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.main-menu__user-navigation__header-search__link svg {
  position: absolute;
  top: 7px;
  left: 9px;

  color: white;
}

.main-menu__user-navigation__header-sign-in__link svg {
  position: absolute;
  top: 6px;
  left: 16px;

  color: white;
}

.main-menu__user-navigation__header-search:hover svg,
.main-menu__user-navigation__header-sign-in__item:hover svg {
  color: #000000;
}

.main-menu__user-navigation__header-search,
.main-menu__user-navigation__header-sign-in__item {
  position: relative;
}

.main-menu__user-navigation__header-search:hover svg,
.main-menu__user-navigation__header-sign-in__item:hover .main-menu__user-navigation__header-sign-in__link {
  padding-bottom: 15px;
}

.main-menu__user-navigation__header-sign-in__item:hover .modal__sign-in,
.main-menu__user-navigation__header-sign-in__item:focus .modal__sign-in {
  position: absolute;
  top: 27px;
  right: -4px;
  z-index: 3;

  display: block;
  width: 277px;

  background-color: #f8f7f4;
}

.modal__sign-in {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 17px 20px 19px;

  font-size: 13px;
  line-height: 24px;
}

.modal__sign-in__link--password {
  position: absolute;
  top: 152px;
  right: 37px;

  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #323232;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.modal__sign-in__link--new {
  position: absolute;
  top: 173px;
  right: 19px;

  font-weight: 400;
  line-height: 14px;
  color: #323232;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.modal__sign-in__link--password:hover,
.modal__sign-in__link--password:focus,
.modal__sign-in__link--password:active,
.modal__sign-in__link--new:hover,
.modal__sign-in__link--new:focus,
.modal__sign-in__link--new:active {
  color: #e84d37;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(232, 77, 55, 0.3);
}

.modal__sign-in .input__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 8px 12px;

  border-radius: 4px;
}

.modal__sign-in .modal__sign-in__button {
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 26px;
  border-radius: 17px;
}

.main-menu__user-navigation__header-search:hover .modal__search {
  position: absolute;
  top: 35px;
  right: -3px;

  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 341px;

  background-color: #f8f7f4;
}

.modal__search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 21px 15px;
}

.modal__search .input__text {
  width: 100%;
  padding: 7px 13px;

  border-radius: 4px;
}

.modal__search button {
  display: none;
}

.main-menu__user-navigation__header-cart__link--two-goods {
  color: #000000;
  padding-right: 13px;
  padding-left: 43px;
  padding-bottom: 8px;
  padding-top: 7px;

  background-color: #f7f6f3;
}

.main-menu__user-navigation__header-cart__link--two-goods::after {
  content: "";
  top: 6px;
  left: 16px;

  display: block;

  width: 21px;
  height: 20px;

  background: url(../img/basket-red.svg) no-repeat;
}

.main-menu__user-navigation__header-cart:hover .main-menu__user-navigation__header-cart__link--two-goods {
  padding-bottom: 18px;
}

.main-menu__user-navigation__header-cart {
  position: relative;
  min-width: 120px;
}

.main-menu__user-navigation__header-cart:hover .modal__cart {
  position: absolute;
  top: 28px;
  right: 4px;
  z-index: 3;

  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 539px;
  height: 242px;
  padding: 0 15px;
  padding-bottom: 80px;

  font-size: 13px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
  padding: 0;

  text-align: left;

  border-bottom: 1px solid #cacac7;
}

.row {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-1 {
  padding-top: 13px;
}

.row-2 {
  padding-top: 9px;
  margin-bottom: 17px;
}

.modal__cart__delete-item {
  position: relative;

  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  padding-right: 25px;

  font-size: 0;

  background: none;
  border: none;
}

.modal__cart__delete-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 11px;
  height: 11px;

  background-image: url(../img/cross-small.svg);
}

.modal__cart__img {
  display: block;
  width: 33px;
  margin: 0;
  margin-top: 8px;
  margin-right: 15px;
  overflow: hidden;

  border-radius: 50%;
}

.modal-cart__ice-cream {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 225px;
  margin: 0;
  margin-right: 22px;
  margin-left: -2px;
  padding: 0;

  word-wrap: break-word;
}
.row-2 .modal-cart__ice-cream {
  padding-top: 14px;
}

.modal-cart__price {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  margin: 0;
  margin-right: 23px;
  padding: 0;
}

.price-per-weight {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60px;
  margin: 0;
  padding: 0;
}

.modal__cart .modal__cart__button {
  position: absolute;
  right: 15px;
  bottom: 20px;
  padding: 11px 16px;
}

.modal__cart__sum {
  display: inline-block;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.modal-cart__price-count {
  padding-left: 5px;

  color: #999999;
}

.modal__feedback {
  position: fixed;
  top: 250px;
  left: 609px;
  z-index: 10;

  display: block;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 477px;
  margin-left: -240px;
  padding-top: 17px;
  padding-right: 26px;
  padding-bottom: 24px;
  padding-left: 23px;

  color: #323232;

  background-color: #f8f7f4;
}

.modal__feedback--bold {
  display: block;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.modal__feedback .input__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 63%;
  margin-bottom: 16px;
  padding: 10px 15px;

  border-radius: 6px;
}

.modal__feedback .textarea {
  min-height: 158px;
  width: 100%;
}

.modal__close-button {
  position: absolute;
  top: 15px;
  right: 16px;

  width: 18px;
  height: 17px;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  background-image: url(../img/cross-big.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  cursor: pointer;
}

.modal__feedback .button {
  display: inline-block;
  padding-right: 19px;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 26px;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.3);
}

.working-hours {
  display: block;
  position: relative;
  right: 5px;
  top: -3px;

  font-size: 14px;
  line-height: 16px;
}

.contact-info {
  position: relative;
  float: right;
  top: -2px;
  left: -1px;
  margin: 0;
  padding: 0;
}

.contact-info a {
  display: block;

  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.breadcrumbs {
  margin: 20px 220px 0 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  display: inline-block;

  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  color: #ffffff;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-right: 4px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.section__breadcrumbs {
  margin-right: 3px;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus,
.breadcrumbs__link:active {
  color: #e84d37;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(232, 77, 55, 0.3);
}

.breadcrumbs__link--active {
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  border: none;
}

.header {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.choice-form {
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.choice-wrapper {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 857px;
}

.choice-form-item {
  margin: 0;
  margin-right: 4px;
  padding: 0;
  height: 74px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  border: none;
}

.choice-form-item__select {
  width: 192px;
}

.choice-form-item__checkbox {
  padding-top: 0;
}

.choice-form-item:nth-of-type(3) {
  margin-right: 0;
}

.choice-form-item > .choice-form__label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding-left: 15px;

  font-size: 14px;
  line-height: 16px;
}

.choice-form__select {
  position: relative;

  width: 100%;
  height: 36px;
  padding: 0 15px;

  color: #ffffff;

  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.choice-form__select:hover,
.choice-form__select:focus,
.choice-form-item:hover .select-arrow {
  color: #323232;
}

.select-arrow {
  position: absolute;
  top: 34px;
  left: 167px;
}


.choice-form__radio__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
 /* width: 450px;*/
  height: 35px;
  padding: 0 14px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.choice-form__radio {
  display: none;
}

.choice-form__radio__label {
  display: inline-block;
  margin-top: 7px;
  margin-right: 13px;

  vertical-align: middle;

  cursor: pointer;
}

.choice-form__radio__label:last-of-type,
.choice-form__checkbox__label:last-of-type {
  margin-right: 0;
}

.choice-form__radio + .choice-form__radio__label::before {
  content: "";
  z-index: 2;

  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 8px;

  vertical-align: middle;

  background-image: url(../img/radio-off.svg);
  opacity: 0.8;
}

.choice-form__radio:checked + .choice-form__radio__label::before {
  background-image: url(../img/radio-on.svg);
}

.choice-form__radio + .choice-form__radio__label:hover::before {
  opacity: 1;
}

.choice-form__radio + .choice-form__radio__label:disabled::before {
  opacity: 0.4;
}

.choice-form__fat {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding-left: 15px;

  font-size: 14px;
  line-height: 16px;
}

.choice-form__checkbox__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 701px;
  height: 36px;
  padding: 0 10px;
  padding-left: 13px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.choice-form__checkbox {
  display: none;
  margin: 0;
}

.choice-form__checkbox__label {
  display: inline-block;
  margin-top: 7px;
  margin-right: 14px;

  vertical-align: middle;

  cursor: pointer;
}

.choice-form__checkbox__label:nth-of-type(2) {
  padding-right: 1px;
}

.choice-form__checkbox__label:nth-of-type(3) {
  padding-right: 4px;
}

.choice-form__checkbox__label:nth-of-type(4) {
  padding-right: 2px;
}
.choice-form__checkbox + .choice-form__checkbox__label::before {
  content: "";
  z-index: 2;

  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 7px;

  vertical-align: middle;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
}

.choice-form__checkbox:checked + .choice-form__checkbox__label::before {
  background-image: url(../img/checkbox-on.svg);
}

.choice-form__checkbox + .choice-form__checkbox__label:hover::before {
  opacity: 1;
}

.choice-form__checkbox + .choice-form__checkbox__label:disabled::before {
  opacity: 0.4;
}

.choice-form__inner {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding-left: 15px;

  font-size: 14px;
  line-height: 16px;
}


.choice-form-item__range-filter {
  width: 218px;
  margin-top: 5px;
}

.choice-form-item__price-range:hover {
  cursor: pointer;
}

.choice-form__price {
  width: 100%;
  margin-bottom: -5px;
  padding-left: 16px;

  font-size: 14px;
  line-height: 16px;
}

.range-controls {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  height: 36px;
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 22px;

  text-align: center;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.range-controls .scale {
  height: 4px;

  background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  position: absolute;
  left: 47px;
  margin-left: 0;
  width: 44%;
  height: 4px;

  background: #ffffff;
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;
  z-index: 4;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: rgba(255, 255, 255, 0.2);
  border: 8px solid #ffffff;
  border-radius: 50%;
}

.range-controls .toggle-min {
  left: 35px;
}

.range-controls .toggle-max {
  left: 133px;
}

.price-controls {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: -2px;

  font-size: 0;
}

.price-controls__label {
  display: inline-block;
  width: 26px;
  margin: 0;

  font-size: 14px;
  line-height: 16px;
}

.price-controls__label:first-of-type {
  width: 39px;
}

.price-controls input {
  width: 30px;

  font-size: 14px;
  line-height: 16px;
  font-family: inherit;
  text-align: center;
  color: #ffffff;

  background: #97aca1;
  border: none;
}

.choice-form__sort-button {
  margin-top: 2px;
  padding: 7px 26px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

.choice-form__sort-button:hover,
.choice-form__sort-button:focus {
  color: #323232;

  background-color: #ffffff;
  outline: none;
}

.choice-form__sort-button:active {
  color: #323232;

  background-color: #ededed;
  border: none;
  outline: none;
  -webkit-box-shadow: inset 0 2px 1px #696969;
          box-shadow: inset 0 2px 1px #696969;
}







.background-wrapper {
  min-width: 940px;

  background-color: #97aca1;
  background-image: url("../img/main_layer_1.png");
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;

  -o-transition: background-image 0.5s ease, background-color 0.5s ease;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.background-wrapper::before,
.background-wrapper::after {
  content: "";

  visibility: hidden;
}

.background-wrapper::before {
  background-image: url("../img/main_layer_2.png");
}

.background-wrapper::after {
  background-image: url("../img/main_layer_3.png");
}

.all-the-best__wrapper {
  position: relative;

  margin-bottom: 40px;
  padding-top: 314px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item__title {
  width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60.35px;
}

.slider__controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider__controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 10;

  font-size: 0;
}

.slide {
  display: none;
}

input[id="slider-item__brulee-and-raspberry"]:checked ~ .background-wrapper #slide1,
input[id="slider-item__chocolate-and-lemon"]:checked ~ .background-wrapper #slide2,
input[id="slider-item__strawberry"]:checked ~ .background-wrapper #slide3 {
  display: block;
}

input[id="slider-item__brulee-and-raspberry"]:checked ~ .background-wrapper label[for="slider-item__brulee-and-raspberry"],
input[id="slider-item__chocolate-and-lemon"]:checked ~ .background-wrapper label[for="slider-item__chocolate-and-lemon"],
input[id="slider-item__strawberry"]:checked ~ .background-wrapper label[for="slider-item__strawberry"] {
  background-color: #ffffff;
}

input[id="slider-item__brulee-and-raspberry"]:checked ~ .background-wrapper {
  background-color: #849d8f;
  background-image: url("../img/main_layer_1.png");
}

input[id="slider-item__chocolate-and-lemon"]:checked ~ .background-wrapper {
  background-color: #8996a6;
  background-image: url("../img/main_layer_2.png");
}

input[id="slider-item__strawberry"]:checked ~ .background-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/main_layer_3.png");
}

.button {
  padding: 10px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));

  background: -webkit-linear-gradient(bottom, #e74a35, #f26843);

  background: -o-linear-gradient(bottom, #e74a35, #f26843);

  background: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.slider__button {
  display: inline-block;
  padding: 10px 40px;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  vertical-align: top;
  text-align: center;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 50px;
}

.button:hover,
.button:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e) );
  background: -webkit-linear-gradient(top, #f58669, #ec6f5e );
  background: -o-linear-gradient(top, #f58669, #ec6f5e );
  background: linear-gradient(to bottom, #f58669, #ec6f5e );
  outline: none;
  -webkit-box-shadow: inset 0 2px 2px #ac1000;
          box-shadow: inset 0 2px 2px #ac1000;
}

.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  background: -webkit-linear-gradient(top, #e74a35, #f26843);
  background: -o-linear-gradient(top, #e74a35, #f26843);
  background: linear-gradient(to bottom, #e74a35, #f26843);
  -webkit-box-shadow: inset 0 2px 2px #942718;
          box-shadow: inset 0 2px 2px #942718;
}

.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.promo__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 48.8%;
  min-height: 230px;
  padding-top: 15px;
  padding-right: 23px;
  padding-bottom: 21px;
  padding-left: 17px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;

  background-color: #000000;
  border-radius: 20px;
}

.promo__item--bold {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.promo__item p {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 44px;

  text-align: left;
}

.right {
  display: block;

  text-align: right;
}

.promo__item .button {
  display: inline-block;
  padding: 10px 22px;

  text-align: right;
}

.promo__item__raspberry {
  background-color: #530d1a;
  background-image: url(../img/layer_raspberry.jpg);
  background-repeat: repeat;
  background-position: 0 center;
}

.promo__item__chocolate {
  background-color: #3d2317;
  background-image: url(../img/layer_chocolate.jpg);
  background-repeat: repeat;
  background-position: top center;
}


.paginator__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 191px;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: -14px;
}

.width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.paginator {
  margin: 0;
  padding: 0;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.paginator__item,
.paginator__item--current {
  width: 26px;
  height: 26px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 3px;

  vertical-align: middle;
  text-align: center;

  border-radius: 50%;
}

.paginator__item--current {
  margin-right: 3px;
  margin-left: 5px;
}

.paginator__link {
  display: inline-block;
  margin-top: 5px;

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

.paginator__item:hover,
.paginator__item:focus {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.paginator__item:active,
.paginator__item--current {
  background-color: #ffffff;
}

.paginator__item:active .paginator__link,
.paginator__link--current {
  color: #000000;
}

.paginator__link--prev,
.paginator__link--next {
  display: none;
  margin-left: 0;
}

.paginator__item--prev,
.paginator__item--next {
  position: relative;
}

.paginator__item--prev::before {
  content: url(../img/icon-right-small.svg);
  position: absolute;
  top: 14px;
  left: -17px;

  width: 8px;
  height: 12px;

  -webkit-transform: rotate(180deg);

      -ms-transform: rotate(180deg);

          transform: rotate(180deg);
  cursor: pointer;
  opacity: 0.2;
}

.paginator__item--next::after {
  content: url(../img/icon-right-small.svg);
  position: absolute;
  top: 6px;
  left: 15px;

  width: 8px;
  height: 12px;

  cursor: pointer;
  opacity: 1;
}

.hits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 44px;
}

.catalog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 45px;
}

.catalog-item {
  position: relative;

  max-width: 267px;
  margin-right: 26px;
  margin-bottom: 46px;

  text-align: center; /*выравнивание подписи*/
  color: #ffffff;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.hits-item::before {
  content: url(../img/hit.svg);
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;
}

.catalog-item__wrapper {
  position: relative;
}

.catalog-item:hover::after {
  content: "";
  position: absolute;
  top: -7px;
  right: -15px;
  bottom: 0;
  left: -15px;
}

.catalog-item:hover .button__wrapper {
  display: block;
}

.catalog-item img {
  border-radius: 50%;
}

.button__wrapper {
  position: absolute;
  top: -5px;
  right: -13px;
  bottom: -80px;
  left: -13px;
  z-index: 1;

  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.catalog-item .button {
  position: absolute;
  bottom: 23px;
  left: 51px;

  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 10px 15px;

  text-align: center;
}

.catalog-item__price {
  position: absolute;
  top: 163px;
  left: -1px;

  width: 265px;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
}

.weight::before {
  content: "";
  display: inline-block;
  height: 33px;
  width: 28px;
  background-image: url("../img/ruble.svg");
}

.weight {
  font-size: 30px;
  padding-left: 3px;
}

.catalog-item-description {
  display: inline; /* делаем строчным элементом*/
  position: relative;
  top: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding-left: 5px;
  padding-right: 2px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.features__wrapper {
  margin-bottom: 39px;
  padding: 25px 20px;

  background-color: #f1e6d1;
  background-image: url(../img/layer_waffle.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  border-radius: 20px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 49%;
  padding-left: 60px;
}

.feature-item p {
  margin: 0;
  margin-top: 22px;
  margin-left: -3px;
}

.feature-item:first-child::before {
  content: url(../img/ice-cream.svg);
  position: absolute;
  top: 8px;
  left: 0;

  width: 49px;
  height: 49px;
}

.feature-item:nth-child(2)::before {
  content: url(../img/cow.svg);
  position: absolute;
  top: 8px;
  left: 0;

  width: 49px;
  height: 49px;
}

.feature-item:nth-child(3)::before {
  content: url(../img/eco.svg);
  position: absolute;
  top: 9px;
  left: 0;

  width: 49px;
  height: 49px;
}

.feature-item:last-child::before {
  content: url(../img/thermometer.svg);
  position: absolute;
  top: 9px;
  left: 0;

  width: 49px;
  height: 49px;
}

.features {
  color: #000000;
}

.features--bold {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.news-and-subscription__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.news-in-blog p {
  margin: 0;
  padding-bottom: 3px;
}

.news-in-blog {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 560px;

  padding-top: 23px;
  padding-right: 254px;
  padding-bottom: 25px;
  padding-left: 18px;

  font-weight: 500;
  color: #000000;

  background-color: #ffffff;
  background-image: url(../img/layer_strawberry.jpg);
  background-repeat: no-repeat;
  background-position: 10% 39%;
  border-radius: 16px;
}

.news-in-blog__blog-preview {
  max-width: 290px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}

.news-in-blog__blog-preview:hover,
.news-in-blog__blog-preview:focus,
.news-in-blog__blog-preview:active {
  color: #e84d37;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(232, 77, 55, 0.3);
}

.subscription__button {
  margin-left: 7px;
  padding: 10px 18px;
}

.subscription-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 560px;
  background-image: -webkit-repeating-linear-gradient(315deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);

  background-image: -o-repeating-linear-gradient(315deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);

  background-image: repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  border-radius: 15px;
}

.subscription-box p {
  margin: 0;
  padding-bottom: 35px;
}

.subscription {
  width: 529px;
}

.subscription input {
  width: 66.7%;
  height: 38px;
}

.subscription input[placeholder="Электронная почта"] {
  padding-left: 12px;
}

.subscription-box__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 552px;
  height: 210px;
  margin: 5px;
  padding-top: 28px;
  padding-right: 20px;
  padding-bottom: 36px;
  padding-left: 19px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  border-radius: 10px;
}


.input__text {
  font-weight: 700;
  line-height: 24px;
  font-family: inherit;
  color: #323232;

  border: 2px solid rgba(178, 178, 178, 0.52);
}

.input__text::-webkit-input-placeholder {
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}

.input__text:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.input__text:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.map-and-feedback__container {
  position: relative;

  width: 1200px;
  margin: 0 auto;
}

.map {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 430px;
  overflow: hidden;

  outline: 1px solid green;
}

.map img {
  position: absolute;
  top: 0;
  left: 0;

  margin-top: -80px;
}

.api-map {
  position: relative;
  z-index: 7;

  width: 100%;
  height: 430px;

  border: none;
}

.map iframe {
  position: relative;
  z-index: 3;

  width: 100%;
  height: 640px;

  border: none;
}

.map::before {
  content: url(../img/pin.svg);
  position: absolute;
  top: 120px;
  left: 275px;
  z-index: 2;
}

.adress-and-feedback {
  position: absolute;
  right: 2.3%;
  bottom: 60px;
  z-index: 10;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 300px;
  min-height: 305px;
  padding: 37px 25px 32px 22px;

  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #ffffff;
  border-radius: 10px;;
}

.adress-and-feedback p {
  margin: 0;
  margin-top: -11px;
  margin-bottom: 35px;
  display: inline-block;
}

.adress-and-feedback p:last-of-type {
  margin-top: -22px;
  margin-bottom: 32px;
}

.adress-and-feedback--big {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #323232;
}

.adress-and-feedback--big--adress {
  margin-top: 0;
}
.adress-and-feedback--big:last-of-type {
  margin-bottom: 5px;
  margin-top: 3px;
}

.adress-and-feedback__button {
  padding: 11px 28px;
}

.main-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 18px;
}

.main-footer__social,
.main-footer__menu,
.paginator {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer__social {
  padding-top: 15px;
}

.main-footer__social__button__fb {
  text-align: center;

  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-footer__social__button:hover,
.main-footer__social__button:focus {
  border-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.main-footer__social__button__tw:active,
.main-footer__social__button__fb:active,
.main-footer__social__button__vk:active,
.main-footer__social__button__ing:active {
  border-color: rgba(255, 255, 255, 0.2);
  opacity: 0.6;
}

.main-footer__social__button__vk {
  text-align: center;

  background-image: url(../img/vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-footer__social__button__ing {
  text-align: center;

  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-footer__social__button__tw {
  text-align: center;

  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-footer__social__button {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 7px;

  font-size: 0;

  border-width: 3px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;
}

.main-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 306px;
  padding-top: 12px;
}

.main-footer__menu__link {
  font-size: 13px;
  line-height: 18px;
}

.main-footer__menu__link,
.main-footer__button {
  color: #ffffff;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.main-footer__menu__item--bold {
  font-weight: 700;
}

.main-footer__menu__item--bold {
  position: relative;
}

.main-footer__menu__item--bold::before {
  content: url(../img/heart.svg);
  position: absolute;
  top: 2px;
  left: -20px;
}

.main-footer__copyright {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #fefefe;
}

.main-footer__copyright p {
  margin-left: 2px;
  margin-top: 2px;
}

.main-footer__menu__link:hover,
.main-footer__menu__link:focus,
.main-footer__button:hover,
.main-footer__button:active,
.main-footer__button:focus {
  color: #e84d37;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(232, 77, 55, 0.3);
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;

          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
